html, #root {
  /* background-color: #FED9B7; */
  background: rgb(254,217,183);
  background: linear-gradient(90deg, rgba(254,217,183,1) 0%, rgba(244,235,227,1) 30%, rgba(244,235,227,1) 70%, rgba(254,217,183,1) 100%);
}

.story-container, .tab-menu, .tab-content, .nav-tabs, .nav-link.active {
  /* background-color: #FDFCDC !important; */
  background: rgb(253,252,220) !important;
background: radial-gradient(circle, rgba(253,252,220,1) 0%, rgba(253,252,220,0.5634628851540616) 0%, rgba(253,252,220,1) 100%) !important;
}

.App {
  margin: 1rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video-container {
  position: absolute;
  top: 0.75em;
  right: 2.5vw;
  padding: 1em;
}

#video {
  border-radius: 50%;
}

.title {
  align-self: center;
  font-size: 7vw;
  font-family: 'Pacifico', cursive;
  color: #F07167;
}

.subtitle {
  align-self: center;
  font-size: 2vw;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: #00AFB9;
}

.nav-link {
  font-family: 'Kalam', cursive;
  font-weight: bold;
  text-transform: uppercase;
  color: #0081A7;
}

.nav-link.active {
  text-decoration: underline;
  color: #0081A7;
  font-weight: 900;
}

.record-container {
  align-self: center;
  padding: 0.5em 0em 1em 0em;
}

.tab-menu {
  align-self: center;
  height: 55vh;
  width: 60vw;
  overflow: hidden;
  box-shadow: 0rem 0.055rem 1.11rem hsl(0deg 0% 8% / 27%);
}

.MuiLinearProgress-root {
  align-self: center;
  width: 60vw;
}

.results {
  padding: 1.5em;
}

.story-container p {
  padding: 1em 1.5em 0em;
}

.modal-content {
  z-index: 5;
}

body.modal-open > :not(.modal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.zen-mode {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}

.tab-pane {
  display: flex;
  align-items: center;
}
