.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record-container {
  align-self: center;
}

#start-stop-button {
  padding: 1em;
}

.story-container {
  align-self: center;
  height: 50vh;
  width: 60vw;
  overflow: hidden;
}

.story-container p {
  padding: 0em 1em;
}