.App {
  margin: 1rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  align-self: center;
  font-size: 7vw;
}

.subtitle {
  align-self: center;
  font-size: 2vw;
}

.record-container {
  align-self: center;
}

#start-stop-button {
  padding: 1em;
  margin: 1em 0em;
}

/* .nav:not(.nav-item) {
  align-self: center;
  width: 60vw;
  overflow: hidden;
  box-shadow: 0rem 0.055rem 1.11rem hsl(0deg 0% 8% / 27%);
}

.tab-content {
  align-self: center;
  height: 50vh;
  width: 60vw;
  box-shadow: 0rem 0.055rem 1.11rem hsl(0deg 0% 8% / 27%);
} */

.tab-menu {
  align-self: center;
  height: 50vh;
  width: 60vw;
  overflow: hidden;
  box-shadow: 0rem 0.055rem 1.11rem hsl(0deg 0% 8% / 27%);
}

.MuiLinearProgress-root {
  align-self: center;
  width: 60vw;
}

.story-container p {
  padding: 1em 1.5em 0em;
}

.modal-content {
  z-index: 5;
}

body.modal-open > :not(.modal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.zen-mode {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}

.tab-pane {
  display: flex;
  align-items: center;
}